<!DOCTYPE html>
<html lang="en" ng-app="repoListApp" ng-controller="repoListCtrl as ctrl">
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	 	<title>Contacts</title>
		<link rel="stylesheet" href="../librairies/angular-material/angular-material.min.css">
	 	<link rel="stylesheet" href="css/app.css">


    </head>
	<body>
        <md-toolbar md-scroll-shrink="" layout="row">
            <div class="md-toolbar-tools">
                <div>{{username}}</div>
                <span flex></span>
                <md-button ng-click="logout()">Logout</md-button>
            </div>
        </md-toolbar>
        <div class="repeatContainer">
            <md-content layout="column">
                <md-virtual-repeat-container id="vertical-container">
                    <div md-virtual-repeat="item in items" class="repeated-item" flex ng-click="itemClicked(item['index'])">
                        <h4>Repository name : {{item['name']}}</h4>
                        <p>Owner : {{item['owner']}}</p>
                        <p>{{item['html_url']}}</p>
                        <!--<p>Last push at {{item['pushed_at']}}</p>-->

                    </div>
                </md-virtual-repeat-container>
            </md-content>
    </div>

		<!-- Javascript -->
		<script src="../librairies/jquery/jquery-3.1.1.min.js"></script>
		<script src="../librairies/angular/angular.min.js"></script>
        <script src="../librairies/angular-animate/angular-animate.js"></script>
        <script src="../librairies/angular-aria/angular-aria.js"></script>
        <script src="../librairies/angular-material/angular-material.js"></script>
        <script src="../librairies/angular-messages/angular-messages.js"></script>

		<script src="../librairies/ngStorage/ngStorage.js"></script>
		<script src="../librairies/ngCookies/angular-cookies.min.js"></script>
        <script src="js/services/RepoParserService.js"></script>

        <script src="js/application/RepoListApp.js"></script>
		<script src="js/controllers/RepoListController.js"></script>

	</body>
</html>